body {
  background-color: #eeeeee;
  font-family: 'Times New Roman', Times, serif;

}

#wrapper {
  width: 100%;
  margin: 0 auto;
}

header {
  text-align: center;
  width: 90%;
  margin: 10px auto;
  padding: 2%;
  background-color: #cccccc;
  box-shadow: 2px 2px 7px 1px #777;
  border-radius: 30px;
}

#main {
  text-align: center;
  margin: 20px auto;
  width: 90%;
  padding: 2%;
  background-color: #dddddd;
  box-shadow: 2px 2px 7px 1px #777;
  border-radius: 30px;
}

footer {
  text-align: center;
  width: 90%;
  margin: 10px auto;
  padding: 2%;
  background-color: #dddddd;
  box-shadow: 2px 2px 7px 1px #777;
  border-radius: 30px;
}

table, th, td {

}

table {
  border-spacing: 10px;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(0,0,0,0);
}

th, td {
  padding: 10px;


}

tr {
  box-shadow: 2px 2px 7px 1px #777;
  border-radius: 30px;
  
}

.songYes {
  background-color: rgba(0, 255, 0, .25);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

}

.songNo {
    background-color: rgba(255, 0, 0, .25);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}