body {
  background-color: #eeeeee;
  font-family: 'Times New Roman', Times, serif;

}

#wrapper {
  width: 100%;
  margin: 0 auto;
}

header {
  text-align: center;
  width: 90%;
  margin: 10px auto;
  padding: 2%;
  background-color: #cccccc;

}

#main {
  border: 1px solid red;
  text-align: center;
  margin: 10px auto;
  width: 90%;
  padding: 2%;
  background-color: #dddddd

}

footer {
  border: 1px solid red;
  text-align: center;
  width: 90%;
  margin: 10px auto;
  padding: 2%;
  background-color: #dddddd
}

table, th, td {
  border: 1px solid red;
  background-color: #cccccc
}

table {
  width: 90%;
  margin: 0 auto;
}

th, td {
  padding: 10px;

}

tr {
  margin: 10px;
}